//Colours should always only appear in this colours.scss
$black: #000;
$blue--dark: #081838;
$grey: #707070;
$grey--light: #eeeeee;
$red: #df2837;
$white: #fff;
$white--20: rgba(255,255,255,.2);

$color-primary: $red;
$color-secondary: $blue--dark;
$color-bodyText: $grey;

$bg-content: $grey--light;

$color-mobileNav: #a4a7ae;
