*,
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Kurochkalapkoi;
    font-weight: 500;
}
section {
  display: block;
  padding: 30px 0;
  @include breakpoint (medium) {
    padding: 60px 0;
  }
}
.center {
  text-align: center;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
a {
	color: #000;
	transition: all 0.3s ease-in-out;
	vertical-align: top;
	&:hover,
	&:focus {
		text-decoration: underline;
		color: #000;
	}
}
.boxHidded{
   visibility: hidden; /*  Делаем иконки полностью прозрачными  */
}
.fadeInUp, .fadeOutDown{
   visibility: visible;  /*  Делаем иконки полностью не прозрачными  */
}
.delay-05s{
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
}
 
.delay-1s{
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}
.modal {
  background: url(../assets/svg/cloud3.svg);
  background-position: center;
  background-repeat: no-repeat;
  .close {
    font-size: 60px;
    opacity: 1;
    text-shadow: 0 6px 0 #000;
    color: #ffcc00;
  }
}
.modal-dialog {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 560px;
  margin: 0 auto;
  background: rgba(255, 0, 0, 0);
  border: none;
  box-shadow: none;
}